<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="workstation id=newPVFC13.mssql.somee.com;packet size=4096;user id=uzair456_SQLLogin_2;pwd=ww4uvhy33e;data source=newPVFC13.mssql.somee.com;persist security info=False;initial catalog=newPVFC13;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState mode="InProc" timeout="20"></sessionState>
  </system.web>
</configuration>