<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Your_Connection_String" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState mode="InProc" timeout="20"></sessionState>
  </system.web>
</configuration>